<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c.stocksy.com/a/hrv400/z9/1175749.jpg);">>
  <h1 class="text-white font-weight-normal home-5-title mb-0">MOVIES</h1>
  <p class="text-white-70 mt-4 f-15 mb-0">Listing your favorite movies....</p>
  <%= link_to 'Create a movie list', new_list_path, class: 'btn-btn-flat'%>
</div>


<div class="cards">
<h3>My list</h3>
  <% @lists.each do |list| %>
  <div class="col-12 colsm-6 col-md-4">
    <% link_to list_path(list), class:'text-decoration-none' do %>
        <div class="card-category" style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('logo.png')%>)">
        <%= list.name %>
        </div>
      <% end %>
      </div>
      <% end %>
  </div>
</div>
