// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//colors for my app
$dark-dark-blue: #0D1B2A;
$dark-blue: #1B263B;
$blue: #415A77;
$light: #778DA9;
$super-light: #E0E1DD;
