.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 1s;
  h1{
    transition: 1s;
    font-weight: bold;
  }
  h1:hover{
    color: $dark-dark-blue;
  }
}
.card-list{
  transition: 1s;
}

.card-list:hover{
  color: $super-light;
  background-color: $dark-dark-blue;
}
